<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="commuMapper">

<select id="getDataCount" resultType="int">
	select nvl(count(*),0) from codilist
</select>

<select id="getLists" parameterType="hashMap" resultType="com.codi.dto.CommunityDTO">
	select * from (
	select rownum rnum, data.* from(
	select a.inum, a.icontent, a.userid,a.iimage,a.idate,a.ihitcount,a.ihashtag,b.mImage,b.mMessage
	from codilist a,member b where a.userid=b.userid order by a.idate desc)data)
<![CDATA[
	where rnum>=#{start} and rnum<=#{end}
]]>
</select>

<!-- myFollow count -->
<select id="myFollow" parameterType="hashMap" resultType="int">
	select nvl(count(*),0) from Follow
	where myId=#{myId} and myFriendId = #{myFriendId}
</select>

<!-- storeHeart count list -->
<select id="myFollowList" parameterType="String" resultType="String">
	select myFriendId from follow where myId = #{userId}
</select>

<!-- storeHeart count list -->
<select id="myCodiHeartList" parameterType="String" resultType="String">
	select inum from codiHeart where userId = #{userId}
</select>

<!-- storeHeart count -->
<select id="myCodiHeart" parameterType="hashMap" resultType="int">
	select nvl(count(*),0) from codiHeart
	where iNum=#{iNum} and userId = #{userId}
</select>

<!-- storeHeart count -->
<select id="heartCount" parameterType="int" resultType="int">
	select nvl(count(*),0) from codiHeart
	where iNum=#{iNum}
</select>

<!-- storeHeart insert -->
<insert id="insertHeart" parameterType="hashMap">
	insert into codiHeart (iNum,userId)
	values (#{iNum},#{userId})
</insert>

<!-- storeHeart delete -->
<delete id="deleteHeart" parameterType="hashMap">
	delete codiHeart where iNum=#{iNum} and userId = #{userId}
</delete>

</mapper>