<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="instarMapper">

<select id="getDataCount" resultType="int">
	select nvl(count(*),0) from codiList
</select>

<!-- 인스타 작성 -->
<update id="updateInstar" parameterType="com.codi.dto.CommunityDTO">
	update codiList set iSubject=#{iSubject},iDate=sysdate,iHitCount=0,iHashTag=#{iHashTag}
	where iNum=#{iNum}
</update>

<!-- 해당 사용자 인스타 개수 -->
<select id="countUserInstar" parameterType="String" resultType="int">
	select nvl(count(*),0) from codiList where userId=#{userId}
</select>

<!-- 해당 사용자 코디 정보 가져오기 -->
<select id="selectUserInstar" parameterType="hashMap" resultType="com.codi.dto.CommunityDTO">
	select * from (
	select rownum rnum, data.* from(
	select iNum,iSubject,iContent,userId,iImage,iDate,iHitCount,iHashTag
	from codiList where userId=#{userId} order by idate desc)data)
<![CDATA[
	where rnum>=#{start} and rnum<=#{end}
]]>
</select>

<!-- 코디 상세페이지 -->
<select id="getOneInstar" parameterType="int" resultType="com.codi.dto.CommunityDTO">
	select iSubject,iContent,userId,iImage,iDate,iHitCount,iHashTag
	from codiList where iNum=#{iNum}
</select>

<!-- 조회수 증가 -->
<update id="updateHitCount" parameterType="int">
	update codiList set iHitCount=iHitCount+1 where iNum=#{iNum}
</update>



</mapper>